<div class="jumbotron">
    <h2>Welcome to Successful Cars And Machinery Insurance!</h2>
    <p class="lead">We here at SCAM Insurance hope to look out for our own interests, at the expense of yours!</p>
    <p style="margin-top: 10px;"><a href="/Home/GetQuote" class="btn btn-primary btn-lg">Free* Car Insurance Quote &raquo;</a></p>
    <p style="margin-top: 50px; margin-bottom: auto; font-size: 12px;">*Not actually free.</p>
</div>
