@using InsuranceMVC.Models
@model List<Applicant>

@foreach (var applicant in Model)
{
    <h3>Thank you @applicant.FirstName</h3>
    <br />
    <br />
    <h3>Based off of your information, your monthly SCAM Insurance would be:</h3>
    <h1>$@applicant.Rate</h1>

}
