@if (HttpContext.Current.Request.HttpMethod == "POST")
{
    <h3>Thank you @ViewBag.firstName</h3>
    <br />
    <br />
    <h3>Based off of your information, your monthly SCAM Insurance would be:</h3>
    <h1>$@ViewBag.Rate</h1>

}
